<header>
    <div class="header-container">
    <img src="/images/mylogo.jpg" id="icon">
    <ul class= "navbar">
        <li><a  href="/">Home</a></li> <!-- Navigation link to Home page -->
        <li><a  href="/addrecipe">Add Recipe</a></li> <!-- Navigation link to Add recipe page -->
        <li><a  href="/showrecipes">Recipes</a></li> <!-- Navigation link to Recipes page -->
    </ul>
</header>