<!Doctype html>
<html lang="en">
<head>
	<title> Home </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
	<%- include('../partials/header') %>
	<div class="header-cont">
	<h1> Welcome to Our Recipe Organizer</h1>
	<p> Whisking Away Chaos, One Recipe at a Time: Your Culinary Companion for a Tasteful Journey!</p>
	<img src="/images/image.jpg" id="myimage">
    </div>
	<div class="container">
		<p class="paragraph">
		  Experience the joy of culinary creativity with our Cooking Recipe Organizer application! Elevate your cooking journey by seamlessly managing and organizing your favorite recipes all in one place. Whether you're a seasoned chef or an aspiring home cook, our user-friendly platform allows you to effortlessly add, edit, and categorize recipes. From mouth-watering mains to delectable desserts, our application provides a centralized hub for all your culinary inspiration. Say goodbye to scattered notes and hello to a well-organized recipe collection. Discover new flavors, plan your meals, and share your culinary masterpieces with friends and family. Unlock the full potential of your kitchen and embark on a delightful cooking adventure with our Cooking Recipe Organizer – where every dish tells a story!
		</p>
	  </div>
	  <a href="/addrecipe" class="button">Get Started</a>
    <%- include('../partials/footer') %>
	</body>
</html>